.logoWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}

.alignSelf {
  align-self: end;
}

.title {
  color: #282e34;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}

.row {
  display: flex;
}

.col {
  flex: 1; /* Both columns will have equal width */
  padding: 20px;
  text-align: left;
}

.my30 {
  margin: 48px 0;
  position: relative;
}

.headMa {
  position: absolute;
  text-align: left;

  bottom: 20px;
  left: 20px;
}

.mainHead {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
}

.legend {
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  max-width: 300px;
}

.vBox {
  background-image: url("/public/images/venue2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 300px;
  position: relative;

  width: 100%;

  cursor: pointer;

  filter: drop-shadow(2px 4px 8px #585858);

  margin: 48px 0;
  position: relative;
}

.txtBx {
  margin: 30px 0px 100px 0px;
  text-align: left;
}
.inTxt {
  margin-bottom: 10px;
  color: #65c955;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

.sInnTxP {
  color: #b6b9c3;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
}

.crImg {
  width: 100%;
}
